.apresentation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../assets/background.jpg);
    background-attachment: fixed;
    background-size: auto;
    /* background-position: center center;
    background-repeat: no-repeat; */
    height: 100vh;
    justify-content: end;
    padding-bottom: 1%;
}
.descricao-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-content: center;
}

.content-background{
    background: #141414;;
    width: 98%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: 4px 4px 60px rgb(0 0 0);
}
.apresentation-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.apresentation-title {
    color: #cdcdcd;
    font-family: fantasy;
    font-size: 32px;
    letter-spacing: 8px;
}

.apresentation {
    font-size: 20px;
    color: #f9f9f9;
    width: 100%;
    font-family: fantasy;
    font-weight: 10;
    letter-spacing: 1px;
    text-align: justify;
    text-indent: 30px;
}

.apresentation-image {
    width: 370px;
    height: 370px;
    box-shadow: 4px 8px 10px rgb(39 39 39);
    border-radius: 5px;
    border: 2px groove white;
}

