#experience {
  background: var(--bg-dark-blue);
  border-bottom: 3px solid var(--main-color);
  overflow-x: auto;
  padding-left: 2rem;
  padding-right: 1rem;
}

#experience > .flex-items {
  justify-content: center;
  align-items: center;
}

#experience ul {
  display: flex;
  list-style: none;
  gap: 1.4rem;
  /* justify-content: flex-start; */
  justify-content: center;
  overflow-x: auto;
  /* overflow-x: hidden; */
  width: 100%;
  overflow-y: hidden;
  padding-bottom: 2rem;
}
#experience ul li {
  background: var(--bg-blue-secondary);
  margin: 0 1rem;
  padding: 1rem 1.2rem;
  border-radius: 4px;
  text-align: center;
  width: 600px;
}
#experience ul li * {
  color: var(--bg-light-secondary) !important;
}
#experience ul li {
  flex-shrink: 0;
}

#experience ul li:hover {
  background: var(--bg-blue);
}
#experience ul li:hover,
#experience ul li:hover * {
  color: #fff !important;
  filter: brightness(100%);
}

.experience-container {
  position: relative;
}

.experience-container > .flex-items {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.experience-container #info {
  padding: 0 1rem;
  align-items: center;
  text-align: center;
}
.experience-container #info h5 {
  padding-top: 0.5rem;
  letter-spacing: 1px;
}
.experience-container #info h2 {
  color: #fff;
}

.experience-container > p {
  padding: 0.5rem;
}

#experience img {
  object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  margin-left: 0.6rem;
  border: 1px solid var(--main-color);
  filter: brightness(50%);
}

#experience .icons-competencias > * {
  font-size: 2.2rem;
  color: #fff;
  margin-right: 0.4rem;
}

/* scroll  */
#experience ul::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  background: var(--bg-grey);
  border-radius: 10px;
}

#experience ul::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

@media (max-width: 1024px) {
  #experience ul {
    justify-content: flex-start;
  }
}
@media (max-width: 800px) {
  #experience {
    padding-left: 0.5rem;
    padding-right: 0.2rem;
  }
  #experience img {
    width: 120px;
    height: 120px;
  }

  #experience ul li {
    width: 510px;
  }

  .experience-container > .flex-items {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 400px) {
  #experience ul li {
    width: 320px;
  }
}
@media (max-width: 300px) {
  #experience ul li {
    width: 230px;
  }
  #experience img {
    margin-top: 1rem;
  }
}
