#main-footer {
  height: 10vh;
  background: var(--bg-dark-blue);
}

.footer-content,
.social {
  flex-direction: row;
}

.footer-content {
  justify-content: space-between;
  align-items: center;
}

.social {
  gap: 1rem;
}

.contact {
  width: 27px;
  height: 27px;
}
.contact:hover {
  color: var(--main-color);
}

.phone {
  display: flex;
}

/* Dark Theme Style */
#main-footer.dark-theme {
  background: var(--bg-dark-theme-gradient);
}

@media (max-width: 600px) {
  .footer-content p {
    font-size: 0.9rem;
  }
  .phone {
    flex-direction: column;
  }
}
