#header-container {
  background: url("../assets/showcase1.jpg") no-repeat center center/cover;
  position: relative;
  height: 95vh;
  width: 100%;
  border-bottom: 3px solid var(--main-color);
}

#header-container * {
  z-index: 10;
}

#header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}

#header-container #navbar {
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 0.5rem 0.2rem 0.5rem;
}
#header-container #navbar a {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid transparent;
  transition: all 0.4s;
}
#header-container #navbar a:hover {
  border-bottom: 3px solid var(--main-color);
}
#header-container #showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50%;
  align-items: center;
}

@media (max-width: 1025px) {
  #header-container {
    height: 50vh;
  }
  #header-container #showcase {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  #header-container #showcase .title {
    font-size: 1.2rem;
  }
}
@media (max-width: 400px) {
  #header-container #showcase .title {
    font-size: 1rem;
  }
}
