#header-container {
    justify-content: space-between;
    height: 12vh;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#navbar {
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
}

#navbar a{
    font-size: 1.2rem;
}

#navbar a:hover,
.contact:hover{
    color: #a09e9e;
}

#navbar li{
    list-style: none;
}

#contacts {
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
}

.contact{
    height: 2rem;
    width: 2rem;
}