#showcase{
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../assets/background.jpg') no-repeat center center/cover;
}

#showcase-info{
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#showcase-info h1{
    transform: translateX(1200px);
    animation: showcase-info 1s forwards ease-in;
}

.animation{
    width: 450px;
    height: 450px;
    transform: translateX(-1200px);
    animation: showcase-info 1s forwards 1s ease-in;
}

@keyframes showcase-info {
    to{
        transform: translateX(0);
    }
}

/* Overlay  Background*/
#showcase * {
    z-index: 9;
}

#showcase::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
