.welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(./background.jpg);
    background-attachment: fixed;
    background-size: auto;    
    height: 100vh;
}

.welcome-containt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}

.welcome {
    color: whitesmoke;
    font-size: 30px;
    background: #a9a9a91f;
    font-family: fantasy;
    padding: 25px;
    letter-spacing: 5px;
}