.welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../assets/background.jpg);
    background-attachment: fixed;
    background-size: auto;    
    height: 100vh;
}

.welcome-containt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}

.welcome {
    color: white;
    font-size: 40px;
    background: #5f5f5fb0;
    font-family: fantasy;
    padding: 25px;
    letter-spacing: 5px;
}

@media screen and (max-width : 932px) {
    .welcome-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: url(../assets/background.jpg);
        background-attachment: fixed;
        background-size: auto;    
        height: 200vh;
    }
    
    .welcome-containt{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 100px;
        width: 100%;
        height: 24%;
    }
       
    .welcome {
        color: white;
        font-size: 28px;
        background: #5f5f5fb0;
        font-family: fantasy;
        padding: 25px;
        letter-spacing: 5px;
    }
}
@media screen and (max-width : 768px) {
    .welcome-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: url(../assets/background.jpg);
        background-attachment: fixed;
        background-size: auto;    
        height: 139vh;
    }
    
    .welcome-containt{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 100px;
        width: 100%;
        height: 43%;
    }
    
}
@media screen and (max-width : 653px) {
    .welcome-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: url(../assets/background.jpg);
        background-attachment: fixed;
        background-size: auto;    
        height: 265vh;
    }
    
    .welcome-containt{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 100px;
        width: 100%;
        height: 10%;
    }
    
}

@media screen and (max-width : 540px) {
    .welcome-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: url(../assets/background.jpg);
        background-attachment: fixed;
        background-size: auto;    
        height: 106vh;
    }
    
    .welcome-containt{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 100px;
        width: 100%;
        height: 70%;
    }
    
}

@media screen and (max-width : 421px) {
    .welcome-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: url(../assets/background.jpg);
        background-attachment: fixed;
        background-size: auto;    
        height: 100vh;
    }
    
    .welcome-containt{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 100px;
        width: 100%;
        height: 72%;
    }
    
    .welcome {
        color: white;
        font-size: 30px;
        background: #5f5f5fb0;
        font-family: fantasy;
        padding: 25px;
        letter-spacing: 5px;
    }
    
}

@media screen and (max-width : 375px) {
    .welcome-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: url(../assets/background.jpg);
        background-attachment: fixed;
        background-size: auto;    
        height: 128vh;
    }
    
    .welcome-containt{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 100px;
        width: 100%;
        height: 55%;
    }
    
}

@media screen and (max-width : 280px) {
    .welcome-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: url(../assets/background.jpg);
        background-attachment: fixed;
        background-size: auto;    
        height: 154vh;
    }
    
    .welcome-containt{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 100px;
        width: 100%;
        height: 46%;
    }

       
    .welcome {
        color: white;
        font-size: 25px;
        background: #5f5f5fb0;
        font-family: fantasy;
        padding: 25px;
        letter-spacing: 5px;
    }
    
}