body {
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}


/* .experiencias-container{
    background: grey;
    height: 84vh;
}

.experiencias-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.experiencias-title {
    color: #cdcdcd;
    font-family: fantasy;
    font-size: 32px;
    letter-spacing: 8px;
} */