@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
  --bg-dark: #000;
  --bg-dark-blue: #09111c;
  --bg-blue-secondary: #0b131e;
  --bg-blue: #0e1724;
  --bg-white: #fff;
  --bg-secundary: #7290aa;
  --bg-grey: #333;
  --bg-light: #f4f4f4;
  --bg-light-secondary: #c9c9c9;
  --main-color: #ffbc00;
  --tag-job: #0fa115;
  --tag-estudos: #5646a7;
  --max-width: 1100px;
  --main-color-trasnparent: rgba(255, 188, 0, 0.6);
  /* --max-width2: 100%; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

body {
  overflow-x: hidden;
}

a,
i,
p {
  text-decoration: none;
  color: #fff;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  color: #fff;
  text-transform: uppercase;
}
